@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
  

  *{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  body{
    font-family: 'Poppins', sans-serif;
  }
  h1{
    font-size: 50px;
  }

  .orange{
    color: orange;
  }

  .top-area{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  }
  .top-text, .top-img{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
  }
  .top-img img{
    width: 100%;
    
  }

  .top-text h4{
    margin-bottom: 20px;
    margin-top: 20px;
  }
.link-btn{
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(tomato,orange);
  padding: 10px 40px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.top-text p{
  line-height: 30px;
}

/* dream area style */
.dream-big{
  display: flex;
  padding-top: 100px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dream-text{
  width: 50%;
  padding-left: 10%;
  align-items: center;
}
.dream-text h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.dream-text h4{
  margin-bottom: 20px;
  font-size: 20px;
}
.dream-text p{
  line-height: 30px;
}
.dream-img{
  width: 50%;
}
.dream-img img{
  width: 100%;
  padding-left: 5%;
}

/* Experiences area style */
.exp-area {
  padding-top: 100px;
  

}
.exp-area h2{
  font-size: 40px;
  margin-bottom: 30px;
}
.Experiences{
  display: flex;
  background-image: url('images/exp-bg.png');
  background-repeat: no-repeat;
background-position: left;
  padding-left: 5%;
}
.full-stack{
  width: 40%;
  padding-left: 5%;
  box-shadow: 10px 10px 10px gray;
  padding: 30px;
  border-left: 10px solid tomato;
}
.blue{
  border-left: 10px solid blue;
}
.full-stack h2{
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 30px;
}
.full-stack h4{
  color: orange;
  font-size: 20px;
  margin-bottom: 20px;
}
.full-stack p{
  width: 80%;
  line-height: 25px;
}
.mr-30{
  margin-right: 30px;
}
footer{
  padding-top: 100px;
}

footer p{
  text-align: center;
  color: #777;
}